<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Secundario en Escuela de Educación Media nº 3</h1> - <h4>(Título: Perito Mercantil)</h4></li>
            <p>Ubicado en la calle Juan B. Justo 745, ciudad Mar del Plata, provincia Buenos Aires.</p>
        </ul>
        <ul>
            <li><h1>Primaria en Escuela de Educación Técnica nº 1</h1></li>
            <p>Ubicado en la calle 12 de Octubre 3384, ciudad Mar del Plata, provincia Buenos Aires.</p>
        </ul>
    </div>
</div>