.gradient-custom {
    /* fallback for old browsers */
    background: #bcf3ec;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(193, 240, 240), rgba(228, 169, 205));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(193, 240, 240), rgb(228, 169, 205))
    }