<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Niñera</h1> - <h3>(04/2021 - Actualidad)</h3></li>
            <p>Al cuidado de una niña de 6 años, mis funciones se basan en: recibir instrucción diaria de la madre,servir alimentos, administrar los medicamentos prescriptos en ocasiones de enfermedad; participar en actividades recreativas; orientar en hábitos de higiene diarios; establecer tiempos para realizar las tareas del colegio y los momentos de ocio e informar sobre el comportamiento del infante al finalizar el dia.</p>
        </ul>
        <ul>
            <li><h1>Cotillón Makela</h1> - <h3>(01/2016 - 03/2020)</h3></li>
            <p>Ubicado en la calle Avenida Fortunato de la Plaza nº 3295, como vendedora mis funciones se basaron en: orientación al cliente sobre productos para fiestas y eventos (tipos de globos, velas, adornos, entre otros), conocimiento de tendencias infantiles actuales, ofrecimiento de moldes para repostería, escuchar peticiones de clientes y decírselas a la dueña del local; consultar stock; reposición de productos; limpieza del local y cambiar la exposición de productos en la vidriera.</p>
        </ul>
        <ul>
            <li><h1>Lencería Acertijo</h1> - <h3>(08/2013 - 12/2015)</h3></li>
            <p>Ubicado en la calle Avenida Fortunato de la Plaza nº 3409, como vendedora mis funciones se basaron en: orientación al cliente sobre talles, conford y textiles de prendas, consultar stock, reposición de productos; limpieza del local y cambiar la exposición de productos en la vidriera.</p>
        </ul>
        <ul>
            <li><h1>Dietética Vida Natural</h1> - <h3>(01/2011 - 08/2013)</h3></li>
            <p>Ubicado en la calle Avenida Fortunato de la Plaza esquina Acha, como vendedora mis funciones se basaron en: orientación al cliente sobre productos veganos, vegetarianos, sin tacc, entre otros; consultar stock; reposición de productos; limpieza del local y cambiar la exposición de productos en la vidriera.</p>
        </ul>
        <ul>
            <li><h1>Revista Violeta Fabiani</h1> - <h3>(05/2012 - 09/2016)</h3></li>
            <p>Como vendedora mis funciones se basaron en: búsqueda de clientes, toma y revisión de pedidos; cobro a clientes; interactuar con proveedores y entrega de productos.</p>
        </ul>
        <ul>
            <li><h1>Revista Amodil</h1> - <h3>(02/2014 - 12/2015)</h3></li>
            <p>Como vendedora mis funciones se basaron en: búsqueda de clientes, toma y revisión de pedidos; cobro a clientes; interactuar con proveedores y entrega de productos.</p>
        </ul>
        <ul>
            <li><h1>Alimentos para mascotas Pehuenia</h1> - <h3>(12/2009 - 12/2010)</h3></li>
            <p>Ubicado en la calle Avenida Fortunato de la Plaza nº 3103, como vendedora mis funciones se basaron en: orientación al cliente sobre juguetes y alimentos para mascotas según raza y edad, limpieza del local y cambiar la exposición de productos en la vidriera.</p>
        </ul>
    </div>
</div>